
.tolink {
    color: black;
}

a.one {
    color: black;
}
a.two {
    color: black;
    font-size: 28px;
}
* {
    color:black;
    /* font-size: 27px; */
    margin: 10px;
    font-family: cursive;
    margin:0;
}
#title {
    text-align: center;
    font-style: italic;
    color: rgb(60, 185, 243);
    font-size: 50px;
}
#mi {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./cadylor images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#goback {
    color: cornsilk;
    font-size: 15px;
}
body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.album-img > img{
    width: 30%;
    border-radius: 50%;

}
@media screen and (max-width:450px) {
    .album-img > img{
     width: 50%;
    }
}
h2{
    color: rgb(60, 185, 243);
    font-size: 2em;
}
.intro{
    font-size: 27px;
}
.intro > ol>li{
    color: rgb(60, 185, 243);
}
